<!DOCTYPE html>
<html>
    <head>
        <title>Get Wx article</title>
        <script src='jquery-3.4.0.min.js'></script>
        <script src='vue.min.js'></script>
        <script src='main.js'></script>
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <meta charset="utf8" />
    </head>
    <body>
        <div id='content'>
            <dialog id='mainmenu'>
                <div class='handle'></div>
                <div class='buttons thick_border'>
                    <a href='#' id='show_org_list'>公众号列表</a>
                    <a href='#' id='show_log'>日志</a>
                    <a href='#' id='start'>开始采集</a>
                    <a href='#' id='logout'>登出</a>
                </div>
            </dialog>

            <div id='org_list_template'>
                <dialog style='width:80%'>
                    <div class='handle'><a class='close'>x</a></div>
                    <form action='/sr/org' class='search_section'>
                        <span>公众号名称</span>
                        <input type='text' name='name'/>
                        <input type='submit' value='查询'/>
                    </form>
                    <table>
                        <thead>
                            <th>采集</th><th>文章列表</th>
                            <th>KEY</th><th>公众号名</th><th>介绍</th>
                        </thead>
                        <tbody>
                            <tr v-for="d in list">
                                <td><input type="checkbox" 
                                    v-bind:biz='d.biz'
                                    v-model="d.state == 2"
                                    v-on:click="changeState"/></td>
                                <td><button v-bind:biz='d.biz'
                                    v-on:click="openArticle">打开</button></td>
                                <td>{{ d.biz }}</td>
                                <td>{{ d.name }}</td>
                                <td>{{ d.desc }}</td>
                            </tr>
                        </tbody>
                    </table>
                </dialog>
            </div>

            <div id='art_list_template'>
                <dialog style='width:60%'>
                    <div class='handle'><a class='close'>x</a></div>
                    <form action='/sr/get_article' class='search_section'>
                        <span>内容</span>
                        <input type='hidden' name='biz'/>
                        <input type='hidden' name='pn' value='0'/>
                        <input type='text' name='content'/>
                        <input type='submit' value='查询'/>
                    </form>
                    <table>
                        <thead>
                            <th>内容</th><th>标题</th><th>摘要</th>
                            <th>发布时间</th><th>采集时间</th> 
                        </thead>
                        <tbody>
                            <tr v-for="d in list">
                                <td><button v-bind:biz='d.biz'
                                    v-bind:sn='d.sn'
                                    v-bind:url='d.url'
                                    v-on:click="openContent">打开</button></td>
                                <td>{{ d.title }}</td>
                                <td>{{ d.digest }}</td>
                                <td>{{ d.wxtime }}</td>
                                <td>{{ d.gettime }}</td>
                            </tr>
                        </tbody>
                    </table>
                </dialog>
            </div>

            <div id='art_content_template'>
                <dialog style='width:60%'>
                    <div class='handle'><a class='close'>x</a></div>
                    <div style='display: flex; margin-bottom: 10px'>
                        <span style='margin-right: 10px;'>原始地址</span>
                        <input style='flex:auto' name='url' type='text' readonly/>
                    </div>
                    <iframe class='content'></iframe>
                </dialog>
            </div>

            <div id='log_template'>
                <dialog style='width:60%'>
                    <div class='handle'><a class='close'>x</a></div>
                    <form action='/sr/log' style='display: none;'>
                        <input type='hidden' name='begin' value='0'/>
                        <input type='submit'/>
                    </form>
                    <table>
                        <thead>
                            <th>时间</th><th>消息</th>
                        </thead>
                        <tbody>
                            <tr v-for="d in list">
                                <td>{{ new Date(d.td).toLocaleString() }}</td>
                                <td>{{ d.msg }}</td>
                            </tr>
                        </tbody>
                    </table>
                </dialog>
            </div>
        </div>

        <dialog id='login' class='screen_center'>
            <div class='handle'></div>
            <form action="/login" method="post" class='thick_border ajax' do='login'>
                <p>登录口令</p>
                <input type='text'/>
                <input type='submit'/>
            </form>
        </div>
    </body>
</html>